//@import 'owl.carousel';
//@import 'owl.theme.default';
//@import 'animate';
@import 'jquery-ui.min';
@import 'font-awesome.min';
@import 'mod_bw_social_share';
@import 'rrssb';
@import 'bt_socialbublish';
@import 'visforms';
@import 'visforms.min';
@import 'styles-4b95a58e';
@import 'leaflet';
@import 'fotorama';
@import 'fotorama_custom';
@import 'datatables.min';
@import 'datatables.uikit.min';
@import 'wk-styles-5597fa95';


blockquote {
  padding: 0;

  background: transparent;
  p {
    color: #292c3d;
  }
}



.uk-button-primary {
  color: #fff!important;
  border-color: #b3975e!important;
  background-color: #a57e4e!important;
}
